*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100%;
  height: auto;
}

.Product_container {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border: solid 1px gray;
}

.Cart_container {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  flex-wrap: wrap;
}
